[Unit]
Description="NODE JS SYSTEMD SERVICE"
After=network.target
Wants=postgres.service

[Service]
EnvironmentFile=/opt/mywebappdir/.env
Type=simple
User=admin
Restart=always
RestartSec=500ms
StartLimitInterval=0
WorkingDirectory=/opt/mywebappdir
ExecStart=/usr/bin/npm start

[Install]
WantedBy=cloud-init.target